<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroscc.ruralcredit.modules.user.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zeroscc.ruralcredit.modules.user.entity.User">
        <id column="userId" property="userId" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="deptid" property="deptid" />
        <result column="jobs" property="jobs" />
        <result column="login_name" property="loginName" />
        <result column="user_name" property="userName" />
        <result column="user_type" property="userType" />
        <result column="card_type" property="cardType" />
        <result column="phonenumber" property="phonenumber" />
        <result column="phonenumbertem" property="phonenumberTem" />
        <result column="sex" property="sex" />
        <result column="address" property="address" />
        <result column="busaddress" property="busaddress" />
        <result column="idcard" property="idcard" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="status" property="status" />
        <result column="del_flag" property="delFlag" />
        <result column="street" property="street" />
        <result column="vallage" property="vallage" />
        <result column="province" property="province" />
        <result column="creditsite" property="creditsite" />
        <result column="credited" property="credited" />
        <result column="credit_prod" property="creditProd" />
        <result column="credit_amount" property="creditAmount" />
        <result column="credit_time" property="creditTime" />
        <result column="credit_endTime" property="creditEndTime" />
        <result column="user_amount" property="userAmount" />
        <result column="manager_id" property="managerId" />
        <result column="manager_name" property="managerName" />
        <result column="migrant" property="migrant" />
        <result column="migrant_address" property="migrantAddress" />
        <result column="age" property="age" />
        <result column="birthday" property="birthday" />
        <result column="org_id" property="orgId" />
        <!-- 关联查询角色信息 -->
<!--        <collection property="roles" ofType="com.zeroscc.ruralcredit.modules.user.entity.Role">-->
<!--            <id column="id" property="id" />-->
<!--            <result column="name" property="name" />-->
<!--        </collection>-->
    </resultMap>

    <!-- 查询用户信息及其角色 -->
    <select id="findByLoginName" resultMap="BaseResultMap">
        SELECT
            u.*,
            r.id, r.name
        FROM sys_user u
                 LEFT JOIN sys_user_role ur ON u.userId = ur.user_id
                 LEFT JOIN sys_role r ON ur.role_id = r.id
        WHERE u.login_name = #{loginname}
    </select>



</mapper>
